<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.RaProject.whattosee">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Cast"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".ShopMoney"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".GoogleSignInActivity"
            android:theme="@style/AppTheme.NoActionBar1" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5643226395659003~6386339321" />

        <activity
            android:name=".ContentActivity"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".Watch"
            android:label=""
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".About"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Sign"
            android:theme="@style/AppTheme.NoActionBar1" />
        <activity
            android:name=".Splash"
            android:theme="@style/splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>